NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://usuario:password@localhost:5432/ecommerce_caballero

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

N8N_WEBHOOK_URL=https://tu-instancia-n8n.com/webhook/orden-confirmada
FRONTEND_URL=http://localhost:3000
